@font-face {
  font-family: "Aleo Regular";
  src: url("../webfonts/Aleo-Regular.ttf") format('truetype'), url("../webfonts/Aleo-Regular.ttf") format('truetype');
}

h2.section {
  font-family: "Aleo Regular";
  font-weight: 600;
}

nav {
  background: transparent;
  transition-duration: 1.5s;
}

#profile-section .img-thumbnail {
  background: linear-gradient(to right, #3BEBFF, #02FE53);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

nav.nav-scrolled {
  background: linear-gradient(to right, #01FF4F, #1DFA63, rgb(36, 243, 122), #2DF0D6, #39ECF9);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

@media (max-width: 576px) {
  nav {
    background: linear-gradient(to right, #01FF4F, #1DFA63, rgb(36, 243, 122), #2DF0D6, #39ECF9);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
}

.logo-nav {
  width: 40px;
  min-height: 40px;
  background: url('../img/logo.png') no-repeat;
  background-size: cover;
  background-position: center;
  transition-duration: 1s;
}

.logo-nav-white {
  width: 40px;
  min-height: 40px;
  background: url('../img/logo_white.png') no-repeat;
  background-size: cover;
  background-position: center;
}

@media (min-width: 768px) {
  .navbar-expand-md .navbar-nav .nav-link {
    padding-right: 1.25rem;
    padding-left: 1.25rem;
  }
}

.underline {
  width: 0%;
  height: 2px;
  background: #40aa6a;
  transition: width 0.5s;
  margin-top: 10px;
}

.underline-active {
  height: 2px;
  background: #40aa6a;
  /* transition: width 0.5s; */
  margin-top: 10px;
  width: 150px;
}

.nav-link {
  font-family: "Aleo Regular";
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
}

.nav-link:hover .underline {
  width: 100%;
}

.nav-github {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  background-color: rgb(60, 60, 60);
  border: 2px solid white;
  border-radius: 0.5rem;
  color: white !important;
  transition: ease-in-out 0.1s;
  font-weight: 400;
  text-transform: unset;
}

.nav-github:hover {
  background-color: rgb(20, 20, 20);
  transition: ease-in-out 0.1s;
}

.navbar-toggler {
  background: linear-gradient(to right, #3BEBFF, #02FE53);
  border-width: 3px;
}

section {
  padding-top: 75px;
  padding-bottom: 75px;
}

@media (max-width: 576px) {
  header.about {
    padding-top: 50px;
    /* padding-left: 15px; */
    min-height: 480px;
    background: url('../img/bg_header.png') no-repeat;
    background-size: contain;
  }
  #skills-section th {
    text-align: right;
    /* padding-right: 65px; */
  }
  #skills-section td {
    text-align: left;
    /* padding-left: 65px; */
  }
  .col-education-gambar img {
    margin-left: 25%;
    height: 250px;
  }
  .col-skills {
    margin-left: 50px;
  }
}

@media (min-width: 576px) {
  header.about {
    padding-top: 150px;
    padding-left: 50px;
    min-height: 695px;
    background: url('../img/bg_header.png') no-repeat;
    background-size: contain;
  }
  .col-profile-gambar,
  .col-education-gambar {
    padding-left: 100px;
  }
  .col-profile-gambar img {
    /* height: 320px; */
  }
  #skills-section th {
    text-align: right;
    /* padding-right: 65px; */
  }
  #skills-section td {
    text-align: left;
    /* padding-left: 65px; */
  }
  .col-skills {
    margin-left: 75px;
  }
}

@media (min-width: 720px) {
  header.about {
    padding-left: 40px;
  }
  .col-profile-gambar,
  .col-education-gambar {
    padding-left: 150px;
  }
  .col-profile-gambar img,
  .col-education-gambar img {
    height: 320px;
  }
  #skills-section th {
    text-align: right;
    /* padding-right: 90px; */
  }
  #skills-section td {
    text-align: left;
    /* padding-left: 90px; */
  }
  .col-education,
  .col-profile {
    padding-top: 35px;
  }
  .col-skills {
    margin-left: 150px;
  }
}

.txt-type>.txt {
  border-right: 0.1rem solid rgb(37, 37, 37);
}

.carousel {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

@media (min-width: 576px) {
  .col-header-2 {
    padding-right: 50px;
  }
}

#education-section {
  background: url('../img/education.jpg') no-repeat;
  background-size: cover;
}

#skills-section {
  background: linear-gradient(to right, #01FF4F, #1DFA63, rgb(36, 243, 122), #2DF0D6, #39ECF9);
  background: -webkit-linear-gradient(to right, #01FF4F, #1DFA63, rgb(36, 243, 122), #2DF0D6, #39ECF9);
  background: -moz-linear-gradient(to right, #01FF4F, #1DFA63, rgb(36, 243, 122), #2DF0D6, #39ECF9);
  background: -o-linear-gradient(to right, #01FF4F, #1DFA63, rgb(36, 243, 122), #2DF0D6, #39ECF9);
  background-size: cover;
}
